*{
    list-style: none;
}
body{
    background-color: rgb(138, 137, 137);
}
.logo{display:inline ;width:60px; margin: 10px;  
}
nav{
    width:100%px ;background-color:aliceblue;margin-top:20px;display:flexbox;
}
ul{padding:6px;align-items:center;list-style: none;display:flex;
}
li{list-style: 0;text-decoration: none;padding: 10px;
}
a{
    text-decoration: none;
}
.link:hover{
    transition: 100ms;
    background-color: rgb(138, 137, 137);
}
#baner{
    display:inline;background-color: aliceblue;float:left;height:430px;width:100%;padding:5px
}
img.baner{
    height: 100%;width: 100%;
}
.informacion{
    background-color: aliceblue;float:left;height:200px;width:200px;margin:30px;margin-top:60px
}
#foro{
    margin:150pxd;display: inline-block;
}
.canciones{height:400px;width:400px;margin:3px;display: inline-block;
}
form{
    margin: 100px;background-color:aliceblue;width:200px;height:200px;padding:10px;
}
.contacto{
    margin: 20px;
}
.iniciosesion{
 margin: 30px;
}